@{
    ViewData["Title"] = "Home Page";
    var userResult = ViewData["UserResult"] as UserResultViewModel;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>

    var result = @Html.Raw(Json.Serialize(userResult))
        if (result)
            localStorage.setItem('UserResult', JSON.stringify(result));

</script>
