@{
    ViewData["title"] = "Products";
}

<div>
    <button class="btn btn-primary" id="btnAddProductModal">
        Add new product
    </button>

    <div class="divProducts">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description" class="form-control" required />

                    <label for="description">Image URL:</label>
                    <input type="text" id="imageUrl" name="imageUrl" class="form-control" required />

                    <label for="stock">Stock:</label>
                    <input type="number" id="stock" name="stock" class="form-control" required />

                    <label for="price">Price:</label>
                    <input type="number" id="price" name="price" class="form-control" required />

                    <label for="stock">Discount %:</label>
                    <input type="number" id="discount" name="discount" class="form-control" required />

                    <label for="stock">Category:</label>
                    <select id="category" name="category" class="form-control" required></select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnSaveProduct">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    loadProductList();

    $("#btnSaveProduct").click(function () {
        let description = $("#description").val();
        let imageUrl = $("#imageUrl").val();
        let stock = $("#stock").val();
        let price = $("#price").val();
        let discount = $("#discount").val();
        let categoryId = $("#category").val();

        let productData = {
            "description": description,
            "imageUrl": imageUrl,
            "stock": stock,
            "price": price,
            "discount": discount,
            "categoryId": categoryId
        }

        console.log(productData);
        let saveProductEndpoint = "http://localhost:5261/api/Product";
        let token = JSON.parse(localStorage.getItem("UserResult")).data.token;

        $.ajax({
            url: saveProductEndpoint,
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(productData),
            headers: {
                "Authorization": "Bearer " + token
            },
            success: function(data) {
                console.log("Product added successfully");

                $("#addProductModal").modal("hide");
                loadProductList();            
            },
            error: function(error){
                console.log("Error adding product : " +  error);
            }
        });
    });

    $("#btnAddProductModal").click(function () {
        $("#addProductModal").modal('show');
    });

    function loadProductList() {
        var partialViewAction = '@Url.Action("List", "Product", new {area="Logistics"})';
        $(".divProducts").load(partialViewAction);
        loadCategories();
    }

    function loadCategories() {
        var categoryDropdown = $("#category")
        var categoryEndpoint = "http://localhost:5261/api/Category";

        $.ajax({
            url: categoryEndpoint,
            type: "GET",
            success: function (dataCategories) {

                $.each(dataCategories.data, function (index, category) {
                    categoryDropdown.append($('<option>', {
                        value: category.id,
                        text: category.description
                    }));
                });
            },
            error: function (error) {
                console.error("Error al cargar las categorias....", error);
            }
        });



    }


</script>